
Trace.Data/bin/Debug/Trace.Data.dll
Trace.Data/bin/Debug/Trace.Data.pdb
Trace.Data/bin/Debug/Trace.Domain.dll
Trace.Data/bin/Debug/Trace.Domain.pdb
Trace.Data/obj/Debug/Trace.Data.csproj.CoreCompileInputs.cache
Trace.Data/obj/Debug/Trace.Data.csproj.FileListAbsolute.txt
Trace.Data/obj/Debug/Trace.Data.csproj.GenerateResource.cache
Trace.Data/obj/Debug/Trace.Data.csprojAssemblyReference.cache
Trace.Data/obj/Debug/Trace.Data.dll
Trace.Data/obj/Debug/Trace.Data.pdb
Trace.Domain/bin/Debug/Trace.Domain.dll
Trace.Domain/bin/Debug/Trace.Domain.pdb
Trace.Domain/obj/Debug/Trace.Domain.dll
Trace.Domain/obj/Debug/Trace.Domain.pdb
Trace.Domain/obj/Debug/Trace.Domains.csproj.FileListAbsolute.txt
Trace.Monitoring/bin/Debug/OpcComRcw.dll
Trace.Monitoring/bin/Debug/OpcNetApi.Com.dll
Trace.Monitoring/bin/Debug/OpcNetApi.dll
Trace.Monitoring/bin/Debug/Trace.Data.dll
Trace.Monitoring/bin/Debug/Trace.Data.dll.config
Trace.Monitoring/bin/Debug/Trace.Data.pdb
Trace.Monitoring/bin/Debug/Trace.Domain.dll
Trace.Monitoring/bin/Debug/Trace.Domain.pdb
Trace.Monitoring/bin/Debug/Trace.Monitoring.exe
Trace.Monitoring/bin/Debug/Trace.Monitoring.pdb
Trace.Monitoring/obj/Debug/Trace.Monitoring.csproj.CoreCompileInputs.cache
Trace.Monitoring/obj/Debug/Trace.Monitoring.csproj.FileListAbsolute.txt
Trace.Monitoring/obj/Debug/Trace.Monitoring.csproj.GenerateResource.cache
Trace.Monitoring/obj/Debug/Trace.Monitoring.csprojAssemblyReference.cache
Trace.Monitoring/obj/Debug/Trace.Monitoring.exe
Trace.Monitoring/obj/Debug/Trace.Monitoring.MainForm.resources
Trace.Monitoring/obj/Debug/Trace.Monitoring.pdb
Trace.Data/bin/Debug/Trace.Data.dll
Trace.Data/bin/Debug/Trace.Data.pdb
Trace.Data/bin/Debug/Trace.Domain.dll
Trace.Data/bin/Debug/Trace.Domain.pdb
Trace.Data/obj/Debug/Trace.Data.csproj.CoreCompileInputs.cache
Trace.Data/obj/Debug/Trace.Data.csproj.FileListAbsolute.txt
Trace.Data/obj/Debug/Trace.Data.csproj.GenerateResource.cache
Trace.Data/obj/Debug/Trace.Data.csprojAssemblyReference.cache
Trace.Data/obj/Debug/Trace.Data.dll
Trace.Data/obj/Debug/Trace.Data.pdb
Trace.Domain/bin/Debug/Trace.Domain.dll
Trace.Domain/bin/Debug/Trace.Domain.pdb
Trace.Domain/obj/Debug/Trace.Domain.dll
Trace.Domain/obj/Debug/Trace.Domain.pdb
Trace.Domain/obj/Debug/Trace.Domains.csproj.FileListAbsolute.txt
Trace.Monitoring/bin/Debug/Trace.Monitoring.exe
Trace.Monitoring/bin/Debug/Trace.Monitoring.pdb
Trace.Monitoring/obj/Debug/Trace.Monitoring.csproj.CoreCompileInputs.cache
Trace.Monitoring/obj/Debug/Trace.Monitoring.csproj.FileListAbsolute.txt
Trace.Monitoring/obj/Debug/Trace.Monitoring.csproj.GenerateResource.cache
Trace.Monitoring/obj/Debug/Trace.Monitoring.csprojAssemblyReference.cache
Trace.Monitoring/obj/Debug/Trace.Monitoring.exe
Trace.Monitoring/obj/Debug/Trace.Monitoring.pdb
