<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <connectionStrings>
    <!--<add name="my_sql" connectionString="server=localhost;database=traceability;user=root;password=Passw0rd@1;" providerName="MySql.Data.MySqlClient" />-->
    <add name="my_sql" connectionString="server=localhost;database=trace;user=root;password=12345;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="DefaultUrl" value="opcda://localhost/FactoryTalk Gateway"/>
    <add key="sourcePath" value="C:\TempFtp"/>
    <add key="targetPath" value="C:\TraceabilityImages\ST5"/>
    <add key="MainBlock" value="[TRACEABILITY]"/>
    <add key="MachineId" value="1"/>
  </appSettings>  
  
</configuration>